body {
  padding-top: 150px;
  text-align: center;
  font-family: helvetica;
  background-color: black;
  /*background: url("../background.jpg") 30%;
  background-size: cover;*/
  color: white;
}


h1 {
  display: inline-block;
  color: white;
}

a {
  padding-right: 30px;
  color: #b7fffd;
  font-weight:bold;
  text-decoration: none;
}

a:hover {
    color: #6895b7;
}

#linkbox {
  padding-top: 30px;
}

img {
    border-radius: 100%;
}


